language: julia
julia:
  - 1.0.2     # Add more versions
coveralls: true

before_script:
  - sudo apt-get update
  - sudo apt-get install libblas-dev liblapack-dev
  - sudo apt-get install -y build-essential
job:
  script:
    - julia -e "using Pkg; Pkg.build(); Pkg.test(coverage=true)"
after_success:
# push coverage results to Coveralls
- julia -e 'cd(Pkg.dir("ExportAll")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
notifications:
  email: false
